:root {
  --main-h1-size: 2em;
  --main-h2-size: 1.5em;
  --main-h3-size: 1.17em;
  --main-h4-size: 1em;
  --main-h5-size: 0.83em;
  --main-h6-size: 0.67em;

  --main-font-size: 1rem;
  --button-font-size: 1rem;
}

html {
  scrollbar-gutter: stable both-edges;  
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
}
